#root .Wrapper-sc-cif21b-0 .ToolbarWrapper-sc-cif21b-6 .ToolbarWrapper-sc-exupb5-0 {
    background-color: #FC703C;
}

.Wrapper-sc-cif21b-0 .ToolbarWrapper-sc-cif21b-6 ul.ToolbarWrapper-sc-exupb5-0 {
    justify-content: end;
}

.Wrapper-sc-cif21b-0 #timeline-main-wrapper .TimelineVerticalWrapper-sc-1427v1d-0 li.vertical-item-row .Shape-sc-18iuiou-3.using-icon {
    background: #fff;
}

.TimelineCardHeader-sc-d7qjm1-1 h1.CardTitle-sc-d7qjm1-3
.TimelineCardHeader-sc-d7qjm1-1 h2.CardSubTitle-sc-d7qjm1-2 {
    font-weight: normal;
}