.back-to-top {
  position: fixed;
  bottom: 5%;
  right: 5%;
  padding: 8px 10px;
  font-size: 30px;
  background-color: rgba(0, 0, 0, .1);
  backdrop-filter: blur(4px);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: opacity 0.3s ease, background-color 0.3s, box-shadow 0.3s;
  width: 50px;
  height: 50px;
  aspect-ratio: 1 / 1;
}

.light-mode .back-to-top {
  box-shadow: 0px 3px 8px var(--color-purple, 0.5);
  color: #000;
}

.dark-mode .back-to-top {
  box-shadow: 0px 3px 8px var(--color-neon-green, 0.5);
  color: #fff;
}

.light-mode .back-to-top:hover {
  background-color: #d9d9d9;
  color: var(--color-purple);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.8);
}

.dark-mode .back-to-top:hover {
  background-color: #1e1e1e;
  color: var(--color-neon-green);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.8);
}

.back-to-top:active {
  transform: scale(0.95);
}

.back-to-top {
  opacity: 0.8;
}

.back-to-top.show {
  opacity: 1;
}